@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@500;700&display=swap");

body {
  background: linear-gradient(180deg, #000 0%, #4a2800 100%);
  backdrop-filter: blur(7px);
  background-repeat: no-repeat;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

html {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
}
